<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-brand" (click)="goHome()">
      <span class="brand-text">R4V3chainz</span>
      <div class="scanline"></div>
    </div>
  
  </div>
<app-m4t3rfaucet></app-m4t3rfaucet> 
  <div class="navbar-center">
    <button class="cyber-btn" 
            (click)="openParrainageModal()"
            (mouseover)="onMouseOver('parrainage')"
            (mouseout)="onMouseOut('parrainage')">
      <span class="btn-content">Parrainage</span>
    </button>
  </div>

  <div class="navbar-right">
    <button class="cyber-btn" 
            (click)="openConnexionModal()"
            (mouseover)="onMouseOver('connexion')"
            (mouseout)="onMouseOut('connexion')">
      <span class="btn-content">Connexion</span>
    </button>
  </div>
</nav>
