<nav class="navbar">
  <div class="navbar-brand">R4V3chainz</div>
  <div class="navbar-faucet">
    <span class="faucet-value">{{ value | number:'1.15-15' }} R4V3</span>
    <button class="claim-btn" (click)="claim()">CLAIM!</button>
  </div>
  <div class="navbar-last-cashout">
    <span class="last-cashout-info">LastCashOut : {{ date }} ({{ hash }})</span>
  </div>
  <div class="navbar-parrainage">
    <button class="parrainage-btn">Parrainage</button>
  </div>
  <div class="navbar-connexion">
    <button class="connexion-btn">Connexion</button>
  </div>
</nav>
