:host {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: -1; /* Derrière tout le contenu */
    display: block;
    overflow: hidden;
  }
  
  canvas.particles-canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black; /* Fond noir */
  }
  