<app-particles-background></app-particles-background>

<div class="layout-global">
  
    <!-- Colonne 1 -->
    <div class="col col-1">
      <app-statut></app-statut>
      <app-pair></app-pair>
      
    </div>
  
    <!-- Colonne 2 (centrale) -->
    <div class="col col-2">
      <app-r4v3-blockchainz></app-r4v3-blockchainz>

     
      <div class="row row-bottom">
        <app-statistiques></app-statistiques>
        <app-explorateur></app-explorateur>
      </div>
    </div>
  
    <!-- Colonne 3 -->
    <div class="col col-3">
      
      <app-donate-news></app-donate-news>
      <app-chat></app-chat>
    </div>
  </div>
  